body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
}

.top-text h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
    position: absolute;
    z-index: 1;
}